@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes leftToRight {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes rightToLeft {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@layer components {
  .animate-leftToRight {
    animation: leftToRight 2s infinite ease-in-out;
  }

  .animate-rightToLeft {
    animation: rightToLeft 2s infinite ease-in-out;
  }
}
